Repository ihmeuw-scicomp/jobmon: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-format, nox-lint, nox-typecheck, nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

nox-format:
  name: Nox Format (Backend)
  entry: nox -r -s format
  language: system
  pass_filenames: false

nox-lint:
  name: Nox Lint (Backend)
  entry: nox -r -s lint
  language: system
  pass_filenames: false

nox-typecheck:
  name: Nox Typecheck (Backend)
  entry: nox -r -s typecheck
  language: system
  pass_filenames: false

nox-format-frontend:
  name: Nox Format (Frontend)
  entry: nox -r -s format_frontend
  language: system
  pass_filenames: false

nox-lint-frontend:
  name: Nox Lint (Frontend)
  entry: nox -r -s lint_frontend
  language: system
  pass_filenames: false

nox-typecheck-frontend:
  name: Nox Typecheck (Frontend)
  entry: nox -r -s typecheck_frontend
  language: system
  pass_filenames: false

Update CHANGELOG and docs
  CHANGELOG.md
  docsource/advanced_usage.rst
Due: none

Code cleanup
  jobmon_client/src/jobmon/client/cli.py
  jobmon_client/src/jobmon/client/status_commands.py
  tests/pytest/cli/test_status_commands.py
Due: nox-format, nox-lint, nox-typecheck

fix linting
  jobmon_client/src/jobmon/client/status_commands.py
  tests/pytest/cli/test_status_commands.py
Due: nox-format, nox-lint, nox-typecheck

Resolve long locks and improve concurrency for task_instace and set_status_for_triaging
  jobmon_server/src/jobmon/server/web/models/task.py
  jobmon_server/src/jobmon/server/web/routes/v3/fsm/task_instance.py
  jobmon_server/src/jobmon/server/web/routes/v3/fsm/task_template.py
  jobmon_server/src/jobmon/server/web/routes/v3/fsm/workflow_run.py
Due: nox-format, nox-lint, nox-typecheck

Complete logging architecture refactor with OTLP fixes
  .gitignore
  docker-compose.yml
  docker_config/README.md
  docker_config/jobmonconfig.example.yaml
  docker_config/logconfig.example.yaml
  docker_config/logconfig.otlp.example.yaml
  jobmon_client/Dockerfile.local
  jobmon_client/src/jobmon/client/config/logconfig_client.yaml
  jobmon_core/pyproject.toml
  jobmon_core/src/jobmon/core/config/README.md
  jobmon_core/src/jobmon/core/config/__init__.py
  jobmon_core/src/jobmon/core/config/defaults.yaml
  jobmon_core/src/jobmon/core/config/formatters.py
  jobmon_core/src/jobmon/core/config/template_loader.py
  jobmon_core/src/jobmon/core/config/templates/__init__.py
  jobmon_core/src/jobmon/core/config/templates/formatters.yaml
  jobmon_core/src/jobmon/core/config/templates/handlers.yaml
  jobmon_core/src/jobmon/core/config/templates/otlp_exporters.yaml
  jobmon_core/src/jobmon/core/otlp/__init__.py
  jobmon_core/src/jobmon/core/otlp/handlers.py
  jobmon_core/src/jobmon/core/otlp/manager.py
  jobmon_server/src/jobmon/server/web/config.py
  jobmon_server/src/jobmon/server/web/config/__init__.py
  jobmon_server/src/jobmon/server/web/config/logconfig_server_otlp.yaml
  jobmon_server/src/jobmon/server/web/config/server_otlp_example.yaml
  jobmon_server/src/jobmon/server/web/log_config.py
  tests/pytest/conftest.py
  tests/pytest/core/test_template_loader.py
  tests/pytest/end_to_end/test_simple_workflows.py
  tests/pytest/end_to_end/test_workflow_resume.py
  tests/pytest/integration/test_logging_integration.py
  tests/pytest/server/test_server_logging.py
  tests/pytest/server/test_server_otlp.py
  tests/pytest/worker_node/test_task_generator.py
  tests/workflows/README.md
  tests/workflows/sample_workflow.py
  tests/workflows/six_job_test.py
  tests/workflows/six_job_test_resources.yaml
  uv.lock
Due: nox-format, nox-lint, nox-typecheck

simplify formatters
  jobmon_core/src/jobmon/core/config/formatters.py
Due: nox-format, nox-lint, nox-typecheck

changelog updates
  CHANGELOG.md
Due: none

Fix formatting from pre-commit hook
  .gitignore
  README.md
  docker-compose.yml
  docker_config/jobmonconfig.example.yaml
  jobmon_server/src/jobmon/server/cli.py
  jobmon_server/src/jobmon/server/web/db/migrate.py
  tests/workflows/README.md
Due: nox-format, nox-lint, nox-typecheck

Fix status transition
  jobmon_server/src/jobmon/server/web/routes/v3/fsm/task_instance.py
  jobmon_server/src/jobmon/server/web/routes/v3/fsm/workflow_run.py
  tests/conftest.py
Due: nox-format, nox-lint, nox-typecheck

Missed middle Task status (error recoverable)
  jobmon_server/src/jobmon/server/web/routes/v3/fsm/task_instance.py
  jobmon_server/src/jobmon/server/web/routes/v3/fsm/workflow_run.py
Due: nox-format, nox-lint, nox-typecheck

Fix 'cannot access local variable 'message' where it is not associated with a value' error
  jobmon_server/src/jobmon/server/web/routes/v3/fsm/workflow.py
Due: nox-format, nox-lint, nox-typecheck

Fix linting
  jobmon_server/src/jobmon/server/web/routes/v3/fsm/workflow.py
Due: nox-format, nox-lint, nox-typecheck

make frontend volume reload work
  docker-compose.yml
Due: none

revert change to startup
  jobmon_server/Dockerfile
  jobmon_server/Dockerfile.local
Due: none

Modify changelog
  CHANGELOG.md
  jobmon_server/src/jobmon/server/web/routes/v3/fsm/task_instance.py
Due: nox-format, nox-lint, nox-typecheck

Fix xdist test failures with improved environment setup
  tests/pytest/conftest.py
  tests/pytest/server/test_database_schema.py
Due: nox-format, nox-lint, nox-typecheck

Improve exception handling in client logging configuration
  jobmon_client/src/jobmon/client/logging.py
  jobmon_server/Dockerfile
  jobmon_server/Dockerfile.local
Due: nox-format, nox-lint, nox-typecheck

Refactor OTLP resource detectors and fix type annotations
  jobmon_core/src/jobmon/core/otlp/resources.py
Due: nox-format, nox-lint, nox-typecheck

all tests pass
  jobmon_server/src/jobmon/server/web/routes/v3/cli/task_template.py
  jobmon_server/src/jobmon/server/web/routes/v3/fsm/task_instance.py
  jobmon_server/src/jobmon/server/web/routes/v3/fsm/workflow_run.py
  tests/conftest.py
Due: nox-format, nox-lint, nox-typecheck

Import opentelemetry.trace to check OTLP availability in core and server
  jobmon_core/src/jobmon/core/otlp/__init__.py
  jobmon_server/src/jobmon/server/web/otlp/manager.py
Due: nox-format, nox-lint, nox-typecheck

fix lint
  jobmon_core/src/jobmon/core/otlp/__init__.py
  jobmon_server/src/jobmon/server/web/otlp/manager.py
Due: nox-format, nox-lint, nox-typecheck

fix load template bug
  jobmon_core/src/jobmon/core/config/template_loader.py
Due: nox-format, nox-lint, nox-typecheck

Fix indentation in update_config_value function
  jobmon_client/src/jobmon/client/status_commands.py
Due: nox-format, nox-lint, nox-typecheck

Optimized get_task_template_details, still need to do task_template_resource_usage
  jobmon_server/src/jobmon/server/web/routes/v3/cli/task_template.py
Due: nox-format, nox-lint, nox-typecheck

Optimize get_task_template_details and task_template_resource_usage routes
  CHANGELOG.md
  jobmon_server/src/jobmon/server/web/repositories/task_template_repository.py
  jobmon_server/src/jobmon/server/web/routes/v3/cli/task_template.py
Due: nox-format, nox-lint, nox-typecheck

Add a sql script to convert json
  jobmon_server/script/convert_jsonstr_json.sql
Due: none

fix a test case
  jobmon_server/src/jobmon/server/web/repositories/task_repository.py
  jobmon_server/src/jobmon/server/web/routes/v2/cli/task.py
  jobmon_server/src/jobmon/server/web/routes/v3/cli/task.py
  jobmon_server/src/jobmon/server/web/routes/v3/fsm/workflow.py
  jobmon_server/src/jobmon/server/web/utils/json_utils.py
  tests/pytest/client/test_task.py
  tests/pytest/conftest.py
Due: nox-format, nox-lint, nox-typecheck

Change commends
  jobmon_server/script/convert_jsonstr_json.sql
Due: none

Fix test
  tests/pytest/client/test_task.py
Due: nox-format, nox-lint, nox-typecheck

style: fix isort configuration and correct import order
  docsource/configuration.rst
  docsource/examples/component_logging_examples.yaml
  docsource/examples/distributor_logging_examples.yaml
  jobmon_client/src/jobmon/client/cli.py
  jobmon_client/src/jobmon/client/config/logconfig_client.yaml
  jobmon_client/src/jobmon/client/workflow.py
  jobmon_core/src/jobmon/core/cli.py
  jobmon_core/src/jobmon/core/config/README.md
  jobmon_core/src/jobmon/core/config/logconfig_utils.py
  jobmon_core/src/jobmon/distributor/cli.py
  jobmon_core/src/jobmon/distributor/config/__init__.py
  jobmon_core/src/jobmon/distributor/config/logconfig_distributor.yaml
  jobmon_core/src/jobmon/worker_node/cli.py
  jobmon_core/src/jobmon/worker_node/config/__init__.py
  jobmon_core/src/jobmon/worker_node/config/logconfig_worker.yaml
  jobmon_gui/Dockerfile
  jobmon_server/src/jobmon/server/cli.py
  jobmon_server/src/jobmon/server/web/api.py
  jobmon_server/src/jobmon/server/web/config/logconfig_server.yaml
  jobmon_server/src/jobmon/server/web/routes/v3/__init__.py
  pyproject.toml
  tests/pytest/client/test_client_logging.py
  tests/pytest/client/test_task.py
  tests/pytest/conftest.py
  tests/pytest/core/test_component_logging.py
  tests/pytest/integration/test_client_logging_integration.py
  tests/pytest/integration/test_distributor_logging_integration.py
  tests/pytest/integration/test_server_logging_integration.py
  tests/pytest/integration/test_worker_logging_integration.py
Due: nox-format, nox-lint, nox-typecheck

docs: update changelog with enhanced logging system summary
  CHANGELOG.md
Due: none

update changelog
  CHANGELOG.md
Due: none

fix: improve component logging integration and API consistency
  jobmon_client/src/jobmon/client/config/logconfig_client.yaml
  jobmon_core/src/jobmon/core/cli.py
  jobmon_core/src/jobmon/plugins/dummy/dummy_distributor.py
  jobmon_core/src/jobmon/plugins/sequential/seq_distributor.py
  jobmon_core/src/jobmon/worker_node/cli.py
  jobmon_core/src/jobmon/worker_node/config/logconfig_worker.yaml
  jobmon_core/src/jobmon/worker_node/worker_node_task_instance.py
Due: nox-format, nox-lint, nox-typecheck

fix grpc fork
  jobmon_client/src/jobmon/client/workflow.py
Due: nox-format, nox-lint, nox-typecheck

fix: resolve integration test failures for component logging
  jobmon_server/src/jobmon/server/web/log_config.py
  tests/pytest/integration/test_client_logging_integration.py
  tests/pytest/integration/test_distributor_logging_integration.py
  tests/pytest/integration/test_server_logging_integration.py
  tests/pytest/integration/test_worker_logging_integration.py
Due: nox-format, nox-lint, nox-typecheck

server(db): harden DNS resolver & engine fallback; add config flags; update tests
  jobmon_server/src/jobmon/server/web/db/dns.py
  jobmon_server/src/jobmon/server/web/db/engine.py
  tests/pytest/server/test_dns.py
Due: nox-format, nox-lint, nox-typecheck

Remove jobmon_config update
  CHANGELOG.md
  docsource/quickstart-ihme.rst
  jobmon_core/src/jobmon/core/configuration.py
  jobmon_gui/src/assets/content/JobmonAtIhme.md
Due: nox-format, nox-lint, nox-typecheck, nox-format-frontend

Re-add accidental changelog removal
  CHANGELOG.md
Due: none

Attempt to fix DNS problems
  jobmon_server/src/jobmon/server/web/db/dns.py
  jobmon_server/src/jobmon/server/web/db/engine.py
  tests/pytest/server/test_dns.py
Due: nox-format, nox-lint, nox-typecheck

Fix lint and typecheck
  jobmon_server/src/jobmon/server/web/db/dns.py
  jobmon_server/src/jobmon/server/web/db/engine.py
Due: nox-format, nox-lint, nox-typecheck

Path conditions:
  nox-format: any of: \.py$
  nox-lint: any of: \.py$
  nox-typecheck: any of: \.py$
  nox-format-frontend: any of: ^jobmon_gui/src/.*\.(ts|tsx|js|jsx|json|css|md)$
  nox-lint-frontend: any of: ^jobmon_gui/src/.*\.(ts|tsx)$
  nox-typecheck-frontend: any of: ^jobmon_gui/src/.*\.(ts|tsx)$
