Repository ihmeuw-scicomp/jobmon: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-format, nox-lint, nox-typecheck, nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

nox-format:
  name: Nox Format (Backend)
  entry: nox -r -s format
  language: system
  pass_filenames: false

nox-lint:
  name: Nox Lint (Backend)
  entry: nox -r -s lint
  language: system
  pass_filenames: false

nox-typecheck:
  name: Nox Typecheck (Backend)
  entry: nox -r -s typecheck
  language: system
  pass_filenames: false

nox-format-frontend:
  name: Nox Format (Frontend)
  entry: nox -r -s format_frontend
  language: system
  pass_filenames: false

nox-lint-frontend:
  name: Nox Lint (Frontend)
  entry: nox -r -s lint_frontend
  language: system
  pass_filenames: false

nox-typecheck-frontend:
  name: Nox Typecheck (Frontend)
  entry: nox -r -s typecheck_frontend
  language: system
  pass_filenames: false

Fix pre-existing test failures: configuration type handling and swarm test infrastructure
  tests/conftest.py
  tests/core/test_configuration.py
Due: nox-format, nox-lint, nox-typecheck

Fix DNS cache variable scope bug causing NXDOMAIN crashes
  jobmon_server/src/jobmon/server/web/db/dns.py
  tests/server/test_dns.py
Due: nox-format, nox-lint, nox-typecheck

Fix DNS logging test: specify correct logger name for caplog
  tests/server/test_dns.py
Due: nox-format, nox-lint, nox-typecheck

Fix Black formatting for DNS cache code
  jobmon_server/src/jobmon/server/web/db/dns.py
  tests/conftest.py
  tests/server/test_dns.py
  uv.lock
Due: nox-format, nox-lint, nox-typecheck

Fix DNS test logging issue in CI
  tests/server/test_dns.py
Due: nox-format, nox-lint, nox-typecheck

Fix session leak and improve transaction management in FSM routes
  session_leak_analysis.md
Due: none

Fix test_task_update_statuses
  noxfile.py
  tests/cli/test_cli_routes.py
  tests/conftest.py
  tests/server/conftest.py
Due: nox-format, nox-lint, nox-typecheck

Fix typecheck
  jobmon_server/src/jobmon/server/web/routes/v3/cli/task.py
Due: nox-format, nox-lint, nox-typecheck

Fix critical session leaks, resolve test warnings, and improve test infrastructure
  .github/instructions/prd.instructions.md
  PRD_Task_Concurrency_Timeline_Revision_2.md
  RELEASE_ANNOUNCEMENT.md
  TASK_CONCURRENCY_TAB_README.md
  bad_query.text
  jobmon_client/src/jobmon/client/status_commands.py
  jobmon_server/src/jobmon/server/web/routes/v2/fsm/task_instance.py
  jobmon_server/src/jobmon/server/web/routes/v2/fsm/workflow.py
  jobmon_server/src/jobmon/server/web/schemas/task_template.py
  pytest.ini
  rebuild-on-env-change.sh
  task_status_audit_design.md
  tests/cli/test_cli_routes.py
  tests/conftest.py
  tests/server/conftest.py
  tests/server/test_dns.py
  tests/server/test_server_logging.py
Due: nox-format, nox-lint, nox-typecheck

Update CHANGELOG.md with comprehensive release notes
  CHANGELOG.md
Due: none

Remove accidentally committed design documents and update .gitignore
  .gitignore
  PRD_Task_Concurrency_Timeline_Revision_2.md
  RELEASE_ANNOUNCEMENT.md
  TASK_CONCURRENCY_TAB_README.md
  bad_query.text
  rebuild-on-env-change.sh
  task_status_audit_design.md
Due: none

Simplify .gitignore: organize design documents in /design/ folder
  .gitignore
Due: none

Explain how to enable slurm logs in error message
  jobmon_core/src/jobmon/distributor/distributor_service.py
Due: nox-format, nox-lint, nox-typecheck

Remove TaskConcurrencyTimeline.tsx from tracking and move to design directory
  jobmon_gui/src/components/workflow_details/TaskConcurrencyTimeline.tsx
Due: nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Pull update status logic in to a task repository
  jobmon_server/src/jobmon/server/web/repositories/task_repository.py
  jobmon_server/src/jobmon/server/web/routes/v3/cli/task.py
Due: nox-format, nox-lint, nox-typecheck

remove prd
  .github/instructions/prd.instructions.md
Due: none

Add comprehensive FSM routes comparison report between v2 and v3
  FSM_Routes_Comparison_Report.md
Due: none

Add V2 to V3 missing features analysis report
  V2_Missing_Features_in_V3_Report.md
Due: none

Add comprehensive V2 vs V3 FSM routes analysis report
  Comprehensive_V2_V3_Gaps_Report.md
Due: none

1. update changelog 2. have GUI auto reload when doing docker compose up 3. add task name to popup in resource usage
  CHANGELOG.md
  docker-compose.yml
  jobmon_gui/src/components/task_template_details/usage/RuntimeMemoryScatterPlot.tsx
  jobmon_gui/src/components/task_template_details/usage/Usage.tsx
  jobmon_gui/src/types/Usage.ts
  jobmon_gui/src/types/apiSchema.ts
  jobmon_server/src/jobmon/server/web/repositories/task_template_repository.py
  jobmon_server/src/jobmon/server/web/schemas/task_template.py
Due: nox-format, nox-lint, nox-typecheck, nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Fix task killing and database locking in v3 FSM routes
  V3_Regression_Fixes_Report.md
  jobmon_server/src/jobmon/server/web/routes/v3/fsm/array.py
  jobmon_server/src/jobmon/server/web/routes/v3/fsm/task_instance.py
Due: nox-format, nox-lint, nox-typecheck

backup
  uv.lock
Due: none

Add auth disabled to pytest sessionstart for consistency
  tests/conftest.py
Due: nox-format, nox-lint, nox-typecheck

Safely use fork, so that failed tests can end smoothly
  noxfile.py
  tests/conftest.py
Due: nox-format, nox-lint, nox-typecheck

Add a download CSV button to the resource scatter plot
  jobmon_gui/src/components/task_template_details/usage/Usage.tsx
  jobmon_gui/src/components/task_template_details/usage/UsagePlotSection.tsx
Due: nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Add a task name filter to resource usage plot
  CHANGELOG.md
  jobmon_gui/src/components/task_template_details/usage/Usage.tsx
  jobmon_gui/src/components/task_template_details/usage/UsageFilters.tsx
  jobmon_gui/src/hooks/useUsageFilters.ts
Due: nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Fix v3 API authentication for test environment
  jobmon_server/src/jobmon/server/web/routes/v3/fsm/workflow.py
Due: nox-format, nox-lint, nox-typecheck

Add missing route and force to python 3.12
  README.md
  jobmon_client/pyproject.toml
  jobmon_core/pyproject.toml
  jobmon_server/pyproject.toml
  jobmon_server/src/jobmon/server/web/routes/v3/fsm/array.py
  tests/conftest.py
  uv.lock
Due: nox-format, nox-lint, nox-typecheck

Add change log
  CHANGELOG.md
Due: none

Fix the v3 /workflow_overview_viz route
  jobmon_server/src/jobmon/server/web/routes/v3/cli/workflow.py
Due: nox-format, nox-lint, nox-typecheck

Fix tests
  CHANGELOG.md
  jobmon_server/src/jobmon/server/web/repositories/task_template_repository.py
  jobmon_server/src/jobmon/server/web/routes/v3/cli/task_template.py
  tests/cli/test_cli_routes.py
Due: nox-format, nox-lint, nox-typecheck

Add more information about stopping workflows and about changing task statuses
  jobmon_gui/src/components/workflow_details/WorkflowHeader.tsx
Due: nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

update changelog
  CHANGELOG.md
Due: none

Fix typescripting error
  jobmon_gui/src/components/workflow_details/WorkflowHeader.tsx
Due: nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Fix test_resource_api
  jobmon_client/src/jobmon/client/status_commands.py
  jobmon_client/src/jobmon/client/task_template.py
  jobmon_core/src/jobmon/core/jobmon_utils.py
  jobmon_server/src/jobmon/server/web/schemas/task_template.py
  tests/cli/test_resource_api.py
Due: nox-format, nox-lint, nox-typecheck

Fix test_get_yaml_data
  jobmon_client/src/jobmon/client/status_commands.py
Due: nox-format, nox-lint, nox-typecheck

Remove env changes made for python 3.13
  noxfile.py
  tests/conftest.py
Due: nox-format, nox-lint, nox-typecheck

Path conditions:
  nox-format: any of: \.py$
  nox-lint: any of: \.py$
  nox-typecheck: any of: \.py$
  nox-format-frontend: any of: ^jobmon_gui/src/.*\.(ts|tsx|js|jsx|json|css|md)$
  nox-lint-frontend: any of: ^jobmon_gui/src/.*\.(ts|tsx)$
  nox-typecheck-frontend: any of: ^jobmon_gui/src/.*\.(ts|tsx)$
