Repository ihmeuw-scicomp/jobmon: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-format, nox-lint, nox-typecheck, nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: nox-format
        name: Nox Format (Backend)
        entry: env -u FORCE_COLOR nox -r -s format --nocolor
        language: system
        types: [python]
        pass_filenames: false
    -   id: nox-lint
        name: Nox Lint (Backend)
        entry: env -u FORCE_COLOR nox -r -s lint --nocolor
        language: system
        types: [python]
        pass_filenames: false
    -   id: nox-typecheck
        name: Nox Typecheck (Backend)
        entry: env -u FORCE_COLOR nox -r -s typecheck --nocolor
        language: system
        types: [python]
        pass_filenames: false
    -   id: nox-format-frontend
        name: Nox Format (Frontend)
        entry: env -u FORCE_COLOR nox -r -s format_frontend --nocolor
        language: system
        files: ^jobmon_gui/src/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false
    -   id: nox-lint-frontend
        name: Nox Lint (Frontend)
        entry: env -u FORCE_COLOR nox -r -s lint_frontend --nocolor
        language: system
        files: ^jobmon_gui/src/.*\.(ts|tsx)$
        pass_filenames: false
    -   id: nox-typecheck-frontend
        name: Nox Typecheck (Frontend)
        entry: env -u FORCE_COLOR nox -r -s typecheck_frontend --nocolor
        language: system
        files: ^jobmon_gui/src/.*\.(ts|tsx)$
        pass_filenames: false

Narrow requested_resources on viz endpoint to {memory, runtime}
  jobmon_server/src/jobmon/server/web/repositories/task_template_repository.py
Due: nox-format, nox-lint, nox-typecheck

Push task-template aggregate computation into SQL
  jobmon_server/src/jobmon/server/web/repositories/task_template_repository.py
Due: nox-format, nox-lint, nox-typecheck

Add covering index to task_instance for TT detail queries
  jobmon_server/src/jobmon/server/web/migrations/versions/2026_04_21_1500-c3d4e5f6a7b8_add_task_instance_covering_index.py
Due: nox-format, nox-lint, nox-typecheck

Use LATERAL subquery so aggregates hit the covering index
  jobmon_server/src/jobmon/server/web/repositories/task_template_repository.py
Due: nox-format, nox-lint, nox-typecheck

Deferred-join pagination for get_task_resource_details
  jobmon_server/src/jobmon/server/web/repositories/task_template_repository.py
Due: nox-format, nox-lint, nox-typecheck

Drain usage pages via 3 parallel streams on TT Details
  jobmon_gui/src/screens/TaskTemplateDetails.tsx
Due: nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Address bugbot findings on aggregate endpoint
  jobmon_gui/src/screens/TaskTemplateDetails.tsx
  jobmon_server/src/jobmon/server/web/repositories/task_template_repository.py
Due: nox-format, nox-lint, nox-typecheck, nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Cooperate with generic exception handler; add retry budget cap
  dev/config/jobmonconfig.example.yaml
  jobmon_server/src/jobmon/server/web/api.py
  jobmon_server/src/jobmon/server/web/hooks_and_handlers.py
  jobmon_server/src/jobmon/server/web/middleware/db_reset_retry.py
  tests/unit/server/test_db_reset_retry_middleware.py
Due: nox-format, nox-lint, nox-typecheck

Align server KPI/outlier populations with client filter
  jobmon_server/src/jobmon/server/web/repositories/task_template_repository.py
Due: nox-format, nox-lint, nox-typecheck

Include root REGISTERING tasks in premature-exit diagnostics
  jobmon_client/src/jobmon/client/swarm/orchestrator.py
Due: nox-format, nox-lint, nox-typecheck

Address second round of bugbot findings on PR #397
  jobmon_gui/src/queries/GetWorkflowUsage.ts
  jobmon_server/src/jobmon/server/web/repositories/task_template_repository.py
Due: nox-format, nox-lint, nox-typecheck, nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Preserve tasks-without-instances in paginated viz query
  jobmon_server/src/jobmon/server/web/repositories/task_template_repository.py
Due: nox-format, nox-lint, nox-typecheck

Address bugbot round 3: zero-default merge, stale aggregates, dup helper
  jobmon_gui/src/screens/TaskTemplateDetails.tsx
Due: nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Address bugbot round 4: float KPIs, rounded cluster values, nullable efficiency
  jobmon_gui/src/types/apiSchema.ts
  jobmon_server/src/jobmon/server/web/repositories/task_template_repository.py
  jobmon_server/src/jobmon/server/web/schemas/task_template.py
Due: nox-format, nox-lint, nox-typecheck, nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Cast numeric aggregates to DOUBLE, not FLOAT
  jobmon_server/src/jobmon/server/web/repositories/task_template_repository.py
Due: nox-format, nox-lint, nox-typecheck

Preserve queue+cores in narrowed viz requested_resources
  jobmon_server/src/jobmon/server/web/repositories/task_template_repository.py
Due: nox-format, nox-lint, nox-typecheck

Add Requested Resources view + TT table column + attempt detail split
  jobmon_gui/src/components/common/RequestedResourceClusterCard.tsx
  jobmon_gui/src/components/common/RequestedResourcesGrid.tsx
  jobmon_gui/src/components/task_details/TaskStatusTimeline.tsx
  jobmon_gui/src/components/task_template_details/TaskTable.tsx
  jobmon_gui/src/components/workflow_details/WorkflowResourcesPanel.tsx
  jobmon_gui/src/components/workflow_details/WorkflowSummaryBar.tsx
  jobmon_gui/src/configs/ApiUrls.ts
  jobmon_gui/src/queries/GetWorkflowRequestedResources.ts
  jobmon_gui/src/screens/TaskTemplateDetails.tsx
  jobmon_gui/src/screens/WorkflowDetails.tsx
  jobmon_gui/src/types/TaskTable.ts
  jobmon_gui/src/types/apiSchema.ts
  jobmon_gui/src/utils/requestedResources.ts
  jobmon_server/src/jobmon/server/web/repositories/task_template_repository.py
  jobmon_server/src/jobmon/server/web/repositories/workflow_repository.py
  jobmon_server/src/jobmon/server/web/routes/v3/cli/task_template.py
  jobmon_server/src/jobmon/server/web/routes/v3/cli/workflow.py
  jobmon_server/src/jobmon/server/web/routes/v3/fsm/task_resources.py
  jobmon_server/src/jobmon/server/web/schemas/task_template.py
  jobmon_server/src/jobmon/server/web/schemas/workflow.py
  jobmon_server/src/jobmon/server/web/utils/json_compat.py
  tests/integration/cli/test_cli_routes.py
Due: nox-format, nox-lint, nox-typecheck, nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Fix bugbot + CI: restore id set in batch queryKey, dedup cores, fix test import
  jobmon_gui/src/screens/TaskTemplateDetails.tsx
  jobmon_gui/src/utils/requestedResources.ts
  tests/unit/server/test_task_resources_routes.py
Due: nox-format, nox-lint, nox-typecheck, nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Fix bugbot round 2: move HIDDEN_REQ_RES_KEYS below imports, correct TTV grouping
  jobmon_gui/src/components/task_details/TaskStatusTimeline.tsx
  jobmon_server/src/jobmon/server/web/repositories/workflow_repository.py
Due: nox-format, nox-lint, nox-typecheck, nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Fix bugbot round 3: use full blob for TT-table cell summary
  jobmon_gui/src/components/task_template_details/TaskTable.tsx
Due: nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Fix bugbot round 4: composite React key for resource clusters
  jobmon_gui/src/components/workflow_details/WorkflowResourcesPanel.tsx
Due: nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Fix bugbot round 4: remove dead TaskTemplateRepository.get_task_template_resource_usage
  jobmon_server/src/jobmon/server/web/repositories/task_template_repository.py
Due: nox-format, nox-lint, nox-typecheck

Fix bugbot round 5: stop num_cores leaking into rest section
  jobmon_gui/src/utils/requestedResources.ts
Due: nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Fix bugbot round 6: harden streamsDone against pre-fetch state
  jobmon_gui/src/screens/TaskTemplateDetails.tsx
Due: nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

docs: add git commit guidelines to CLAUDE.md (DEVOPS-2589)
  CLAUDE.md
Due: none

chore: add pull request template (DEVOPS-2589)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

test: add simple_test workflow for local dev (DEVOPS-2589)
  dev/workflows/simple_test.py
Due: nox-format, nox-lint, nox-typecheck

chore: ignore local sqlite test.db (DEVOPS-2589)
  .gitignore
Due: none

docs: document host venv SERVICE_URL override for local dev (DEVOPS-2589)
  dev/workflows/README.md
Due: none

feat: add migration aligning Infra schema with SciComp prod (DEVOPS-2589)
  dev/schema-diff-2026-05-08.md
  jobmon_server/src/jobmon/server/web/migrations/versions/2026_05_11_1200-d4e5f6a7b8c9_match_scicomp_prod_schema.py
Due: nox-format, nox-lint, nox-typecheck

Re-gate inside queue_task_batch retry to survive NOWAIT rollback
  jobmon_server/src/jobmon/server/web/routes/v3/fsm/array.py
  tests/integration/server/test_queue_task_batch_retry.py
Due: nox-format, nox-lint, nox-typecheck

Add propagation/main-loop interleaving stress tests for swarm
  tests/unit/swarm/test_main_loop_interleaving.py
  tests/unit/swarm/test_propagation_interleaving.py
Due: nox-format, nox-lint, nox-typecheck

Emit startup-phase breadcrumbs from the distributor process
  jobmon_core/src/jobmon/distributor/cli.py
  jobmon_core/src/jobmon/distributor/distributor_service.py
  tests/unit/core/test_distributor_startup_breadcrumbs.py
Due: nox-format, nox-lint, nox-typecheck

feat: add Infra schema-alignment migration and dev tooling (DEVOPS-2590)
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  CLAUDE.md
  dev/workflows/README.md
  dev/workflows/simple_test.py
  jobmon_server/src/jobmon/server/web/migrations/versions/2026_05_11_1200-d4e5f6a7b8c9_match_scicomp_prod_schema.py
Due: nox-format, nox-lint, nox-typecheck

fix: re-parent schema-alignment migration onto covering-index head (DEVOPS-2590)
  jobmon_server/src/jobmon/server/web/migrations/versions/2026_05_11_1200-d4e5f6a7b8c9_match_scicomp_prod_schema.py
Due: nox-format, nox-lint, nox-typecheck

Eliminate task_status_audit gap-lock deadlock by rearranging bulk close
  .gitignore
  docker-compose.test.yml
  jobmon_server/src/jobmon/server/web/services/transition_service.py
  noxfile.py
  tests/integration/server/test_audit_bulk_deadlock.py
Due: nox-format, nox-lint, nox-typecheck

Surface distributor startup breadcrumbs on DistributorStartupTimeout
  jobmon_client/src/jobmon/client/workflow.py
  tests/integration/client/test_distributor_context.py
Due: nox-format, nox-lint, nox-typecheck

Surface distributor startup breadcrumbs on DistributorStartupTimeout (#403)
  jobmon_client/src/jobmon/client/workflow.py
  tests/integration/client/test_distributor_context.py
Due: nox-format, nox-lint, nox-typecheck
