Repository ihmeuw-scicomp/jobmon: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-format, nox-lint, nox-typecheck, nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

nox-format:
  name: Nox Format (Backend)
  entry: env -u FORCE_COLOR nox -r -s format --nocolor
  language: system
  pass_filenames: false

nox-lint:
  name: Nox Lint (Backend)
  entry: env -u FORCE_COLOR nox -r -s lint --nocolor
  language: system
  pass_filenames: false

nox-typecheck:
  name: Nox Typecheck (Backend)
  entry: env -u FORCE_COLOR nox -r -s typecheck --nocolor
  language: system
  pass_filenames: false

nox-format-frontend:
  name: Nox Format (Frontend)
  entry: env -u FORCE_COLOR nox -r -s format_frontend --nocolor
  language: system
  pass_filenames: false

nox-lint-frontend:
  name: Nox Lint (Frontend)
  entry: env -u FORCE_COLOR nox -r -s lint_frontend --nocolor
  language: system
  pass_filenames: false

nox-typecheck-frontend:
  name: Nox Typecheck (Frontend)
  entry: env -u FORCE_COLOR nox -r -s typecheck_frontend --nocolor
  language: system
  pass_filenames: false

fix: use template names for timeline click selection
  jobmon_gui/src/components/workflow_details/TemplateTimelineTab.tsx
Due: nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Fix task_generator __main__ module name and string annotations
  jobmon_core/src/jobmon/core/task_generator.py
  tests/integration/client/test_task_generator.py
Due: nox-format, nox-lint, nox-typecheck

Fix distributor batch KeyError causing permanently stuck task instances
  jobmon_core/src/jobmon/distributor/distributor_command.py
  jobmon_core/src/jobmon/distributor/distributor_service.py
  jobmon_core/src/jobmon/distributor/distributor_task_instance.py
  tests/integration/distributor/test_instantiate.py
Due: nox-format, nox-lint, nox-typecheck

fix: include task ID and error detail in failure logs (#352)
  jobmon_client/src/jobmon/client/swarm/gateway.py
  jobmon_client/src/jobmon/client/swarm/orchestrator.py
Due: nox-format, nox-lint, nox-typecheck

Add OTel semantic convention attributes to OTLP log handler
  jobmon_core/src/jobmon/core/otlp/handlers.py
Due: nox-format, nox-lint, nox-typecheck

Ignore Claude Code artifacts and local dev files
  .gitignore
Due: none

fix: Resolve exc_info from event_dict when record.exc_info is None
  jobmon_core/src/jobmon/core/otlp/handlers.py
  tests/unit/logging/test_otlp.py
Due: nox-format, nox-lint, nox-typecheck

fix: Address PR review feedback for Gantt chart
  jobmon_gui/src/components/task_details/TaskSummaryCard.tsx
  jobmon_gui/src/components/workflow_details/TemplateTimelineTab.tsx
  jobmon_gui/src/screens/TaskDetails.tsx
Due: nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

fix: Improve spacing between header and breadcrumb navigation
  jobmon_gui/src/components/navigation/PageNavigation.tsx
Due: nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Bugfix
  jobmon_client/src/jobmon/client/tool.py
Due: nox-format, nox-lint, nox-typecheck

Fix header problem
  jobmon_gui/src/components/navigation/UserAvatarButton.tsx
Due: nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Fix task details page for tasks that predate audit table
  jobmon_gui/src/components/task_details/TaskStatusTimeline.tsx
Due: nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Redesign workflow details page layout and fix DAG rendering
  jobmon_gui/src/components/common/ResizableSplitPane.tsx
  jobmon_gui/src/components/common/TemplateStatusBar.tsx
  jobmon_gui/src/components/workflow_details/TemplateDetailPanel.tsx
  jobmon_gui/src/components/workflow_details/TemplateListPanel.tsx
  jobmon_gui/src/components/workflow_details/WorkflowDAG.tsx
  jobmon_gui/src/components/workflow_details/WorkflowSummaryBar.tsx
  jobmon_gui/src/screens/WorkflowDetails.tsx
  jobmon_server/src/jobmon/server/web/routes/v3/fsm/workflow.py
Due: nox-format, nox-lint, nox-typecheck, nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Improve charts, vertical resize, fullscreen DAG, and code quality
  jobmon_gui/src/components/common/ResizableSplitPane.tsx
  jobmon_gui/src/components/workflow_details/TaskConcurrencyTab.tsx
  jobmon_gui/src/components/workflow_details/TemplateListPanel.tsx
  jobmon_gui/src/components/workflow_details/TemplateTimelineTab.tsx
  jobmon_gui/src/components/workflow_details/WorkflowDAG.tsx
  jobmon_gui/src/components/workflow_details/WorkflowSummaryBar.tsx
  jobmon_gui/src/components/workflow_details/WorkflowSummaryPanel.tsx
  jobmon_gui/src/screens/WorkflowDetails.tsx
Due: nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Fix review findings: barrel imports, early return, memoization
  jobmon_gui/src/components/workflow_details/TaskConcurrencyTab.tsx
  jobmon_gui/src/components/workflow_details/WorkflowDAG.tsx
  jobmon_gui/src/components/workflow_details/WorkflowSummaryBar.tsx
  jobmon_server/src/jobmon/server/web/routes/v3/fsm/workflow.py
Due: nox-format, nox-lint, nox-typecheck, nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Fix concurrency mutation on every keystroke and stale template state
  jobmon_gui/src/components/workflow_details/TemplateDetailPanel.tsx
Due: nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Add fullscreen toggle to all three panels
  jobmon_gui/src/screens/WorkflowDetails.tsx
Due: nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Replace regex phase stripping with API-provided phase_map, stabilize DAG
  jobmon_gui/src/components/workflow_details/WorkflowDAG.tsx
  jobmon_server/src/jobmon/server/web/routes/v3/fsm/workflow.py
Due: nox-format, nox-lint, nox-typecheck, nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Update CHANGELOG for workflow details redesign
  CHANGELOG.md
Due: none

Bundle optimization, resource error UI, and accessibility fixes
  CHANGELOG.md
  jobmon_gui/package-lock.json
  jobmon_gui/package.json
  jobmon_gui/src/components/common/CopyButton.tsx
  jobmon_gui/src/components/task_details/TaskDAG.tsx
  jobmon_gui/src/components/task_details/TaskStatusTimeline.tsx
  jobmon_gui/src/components/task_details/TaskSummaryCard.tsx
  jobmon_gui/src/components/task_template_details/usage/ErrorClustersCard.tsx
  jobmon_gui/src/components/task_template_details/usage/RuntimeMemoryScatterPlot.tsx
  jobmon_gui/src/components/workflow_details/ResourceCard.tsx
  jobmon_gui/src/components/workflow_details/TaskConcurrencyTab.tsx
  jobmon_gui/src/components/workflow_details/TemplateDetailPanel.tsx
  jobmon_gui/src/components/workflow_details/TemplateListPanel.tsx
  jobmon_gui/src/components/workflow_details/TemplateTimelineTab.tsx
  jobmon_gui/src/components/workflow_details/WorkflowDAG.tsx
  jobmon_gui/src/configs/ApiUrls.ts
  jobmon_gui/src/constants/taskStatus.ts
  jobmon_gui/src/index.tsx
  jobmon_gui/src/queries/GetFatalErrorBreakdown.ts
  jobmon_gui/src/queries/GetWorkflowHasResourceErrors.ts
  jobmon_gui/src/screens/WorkflowDetails.tsx
  jobmon_gui/src/styles/jobmon_gui.css
  jobmon_gui/src/types/ClusteredErrors.ts
  jobmon_gui/src/vite-env.d.ts
  jobmon_gui/vite.config.ts
  jobmon_server/src/jobmon/server/web/repositories/task_template_repository.py
  jobmon_server/src/jobmon/server/web/routes/v3/cli/task_template.py
  jobmon_server/src/jobmon/server/web/schemas/task_template.py
  tests/integration/cli/test_cli_routes.py
Due: nox-format, nox-lint, nox-typecheck, nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Avoid Any type in fatal error breakdown, return Pydantic model directly
  jobmon_server/src/jobmon/server/web/repositories/task_template_repository.py
  jobmon_server/src/jobmon/server/web/routes/v3/cli/task_template.py
Due: nox-format, nox-lint, nox-typecheck

Fix retried count to use backend task-level query, rename r import
  jobmon_gui/src/components/task_template_details/usage/ErrorClustersCard.tsx
  jobmon_gui/src/components/workflow_details/ResourceCard.tsx
  jobmon_gui/src/queries/GetFatalErrorBreakdown.ts
  jobmon_server/src/jobmon/server/web/repositories/task_template_repository.py
  jobmon_server/src/jobmon/server/web/schemas/task_template.py
Due: nox-format, nox-lint, nox-typecheck, nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Fix integration tests: provide all NOT NULL fields for task_instance
  tests/integration/cli/test_cli_routes.py
Due: nox-format, nox-lint, nox-typecheck

Add TaskGroup v4 design doc and demo use cases
  design/task_group_demo_use_cases.py
  design/task_group_design.md
Due: nox-format, nox-lint, nox-typecheck

Add client API details to TaskGroup design doc
  design/task_group_design.md
Due: none

Add comprehensive TaskGroup v4 design documentation
  design/task_group_v4/01_problem_evidence.md
  design/task_group_v4/02_current_schema.md
  design/task_group_v4/03_distributor_flow.md
  design/task_group_v4/04_materialization.md
  design/task_group_v4/05_resume_and_concurrency.md
  design/task_group_v4/06_v4_server_routes.md
  design/task_group_v4/07_pr9_context.md
  design/task_group_v4/README.md
  design/task_group_v4/demo_use_cases.py
Due: nox-format, nox-lint, nox-typecheck

Elevate error prominence, collapsible resource profiling, show all tasks
  jobmon_gui/src/components/task_details/TaskStatusTimeline.tsx
  jobmon_gui/src/components/task_details/TaskSummaryCard.tsx
  jobmon_gui/src/components/task_template_details/TaskTable.tsx
  jobmon_gui/src/components/task_template_details/usage/ErrorClustersCard.tsx
  jobmon_gui/src/components/task_template_details/usage/ResourceSummaryBar.tsx
  jobmon_gui/src/components/task_template_details/usage/UsageKPICards.tsx
  jobmon_gui/src/components/task_template_details/usage/UsagePlotSection.tsx
  jobmon_gui/src/components/task_template_details/usage/usageCalculations.ts
  jobmon_gui/src/components/workflow_details/ResourceCard.tsx
  jobmon_gui/src/components/workflow_details/TemplateDetailPanel.tsx
  jobmon_gui/src/screens/TaskTemplateDetails.tsx
  jobmon_gui/src/stores/TaskTable.ts
  jobmon_server/src/jobmon/server/web/routes/v3/cli/task_template.py
Due: nox-format, nox-lint, nox-typecheck, nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Add task filters, workflow run scoping, and error/resource UX improvements
  jobmon_gui/src/components/task_details/ResourceComparisonBar.tsx
  jobmon_gui/src/components/task_details/TaskStatusTimeline.tsx
  jobmon_gui/src/components/task_template_details/TaskTable.tsx
  jobmon_gui/src/components/workflow_details/TemplateDetailPanel.tsx
  jobmon_gui/src/components/workflow_details/TemplateListPanel.tsx
  jobmon_gui/src/queries/GetClusteredErrors.ts
  jobmon_gui/src/queries/GetFatalErrorBreakdown.ts
  jobmon_gui/src/queries/GetTaskInstanceDetails.ts
  jobmon_gui/src/queries/GetWorkflowTTStatus.ts
  jobmon_gui/src/queries/queryKeyUtils.ts
  jobmon_gui/src/screens/TaskTemplateDetails.tsx
  jobmon_gui/src/screens/WorkflowDetails.tsx
  jobmon_gui/src/types/TaskInstance.ts
  jobmon_gui/src/types/TaskTable.ts
  jobmon_gui/src/types/TaskTemplateStatus.ts
  jobmon_gui/src/types/WorkflowDetails.ts
  jobmon_gui/src/types/apiSchema.ts
  jobmon_server/src/jobmon/server/web/repositories/task_repository.py
  jobmon_server/src/jobmon/server/web/repositories/task_template_repository.py
  jobmon_server/src/jobmon/server/web/repositories/workflow_repository.py
  jobmon_server/src/jobmon/server/web/routes/v3/cli/task_template.py
  jobmon_server/src/jobmon/server/web/schemas/task.py
  jobmon_server/src/jobmon/server/web/schemas/task_template.py
  jobmon_server/src/jobmon/server/web/schemas/workflow.py
Due: nox-format, nox-lint, nox-typecheck, nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Fix empty-state flash in error card when workflowRunId is loading
  jobmon_gui/src/components/workflow_details/TemplateDetailPanel.tsx
Due: nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Update CHANGELOG for error prominence and filtering features
  CHANGELOG.md
Due: none

Fix resource_error_count query timeout on production MySQL
  jobmon_server/src/jobmon/server/web/repositories/task_template_repository.py
Due: nox-format, nox-lint, nox-typecheck

Fix query performance regressions and infinite render loop
  jobmon_gui/src/components/workflow_details/TemplateDetailPanel.tsx
  jobmon_gui/src/components/workflow_details/TemplateListPanel.tsx
  jobmon_gui/src/screens/TaskTemplateDetails.tsx
  jobmon_gui/src/screens/WorkflowDetails.tsx
  jobmon_server/src/jobmon/server/web/repositories/task_template_repository.py
  jobmon_server/src/jobmon/server/web/routes/v3/cli/task_template.py
Due: nox-format, nox-lint, nox-typecheck, nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Update CHANGELOG: correct resource_error_count and add perf fixes
  CHANGELOG.md
Due: none

Fix error scoping, _find_ttvid performance, and fatal_tasks_only clustering
  jobmon_gui/src/components/workflow_details/TemplateDetailPanel.tsx
  jobmon_gui/src/queries/GetClusteredErrors.ts
  jobmon_gui/src/queries/GetTaskTemplateDetails.ts
  jobmon_gui/src/screens/TaskTemplateDetails.tsx
  jobmon_gui/src/screens/WorkflowDetails.tsx
  jobmon_server/src/jobmon/server/web/repositories/task_template_repository.py
  jobmon_server/src/jobmon/server/web/routes/v3/cli/task_template.py
Due: nox-format, nox-lint, nox-typecheck, nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Refactor clustering, object query keys, revert batch endpoint
  jobmon_gui/src/components/workflow_details/TemplateDetailPanel.tsx
  jobmon_gui/src/components/workflow_details/TemplateListPanel.tsx
  jobmon_gui/src/queries/GetClusteredErrors.ts
  jobmon_gui/src/queries/GetFatalErrorBreakdown.ts
  jobmon_gui/src/screens/TaskTemplateDetails.tsx
  jobmon_gui/src/screens/WorkflowDetails.tsx
  jobmon_server/src/jobmon/server/web/repositories/task_template_repository.py
Due: nox-format, nox-lint, nox-typecheck, nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Remove dead resource_error_count field and orphaned queryKeyUtils
  jobmon_gui/src/queries/GetWorkflowTTStatus.ts
  jobmon_gui/src/queries/queryKeyUtils.ts
  jobmon_gui/src/types/TaskTemplateStatus.ts
  jobmon_gui/src/types/apiSchema.ts
  jobmon_server/src/jobmon/server/web/repositories/task_template_repository.py
  jobmon_server/src/jobmon/server/web/schemas/task_template.py
Due: nox-format, nox-lint, nox-typecheck, nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Fix auto-expand reset, default sorting, and breakdown query gate
  jobmon_gui/src/components/task_details/TaskStatusTimeline.tsx
  jobmon_gui/src/components/workflow_details/TemplateDetailPanel.tsx
  jobmon_gui/src/stores/TaskTable.ts
Due: nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Batch resume-state updates to avoid MySQL timeouts on large workflows
  jobmon_server/src/jobmon/server/web/routes/v3/fsm/task.py
Due: nox-format, nox-lint, nox-typecheck

Add wildcard search, multi-attribute filtering, and ORM query conversion
  jobmon_gui/src/components/workflow_overview/WorkflowFilters.tsx
  jobmon_gui/src/components/workflow_overview/WorkflowList.tsx
  jobmon_gui/src/stores/workflow_settings.ts
  jobmon_gui/src/utils/workflowSearchParams.ts
  jobmon_server/src/jobmon/server/web/repositories/workflow_repository.py
  jobmon_server/src/jobmon/server/web/routes/v3/cli/workflow.py
Due: nox-format, nox-lint, nox-typecheck, nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Simplify: remove dead LEFT JOINs, deduplicate URL param serialization, type-strengthen setter
  jobmon_gui/src/components/workflow_overview/WorkflowFilters.tsx
  jobmon_gui/src/components/workflow_overview/WorkflowList.tsx
  jobmon_gui/src/stores/workflow_settings.ts
  jobmon_gui/src/utils/workflowSearchParams.ts
  jobmon_server/src/jobmon/server/web/repositories/workflow_repository.py
Due: nox-format, nox-lint, nox-typecheck, nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Path conditions:
  nox-format: any of: \.py$
  nox-lint: any of: \.py$
  nox-typecheck: any of: \.py$
  nox-format-frontend: any of: ^jobmon_gui/src/.*\.(ts|tsx|js|jsx|json|css|md)$
  nox-lint-frontend: any of: ^jobmon_gui/src/.*\.(ts|tsx)$
  nox-typecheck-frontend: any of: ^jobmon_gui/src/.*\.(ts|tsx)$
