Repository ihmeuw-scicomp/jobmon: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-format, nox-lint, nox-typecheck, nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: nox-format
        name: Nox Format (Backend)
        entry: nox -r -s format
        language: system
        types: [python]
        pass_filenames: false
    -   id: nox-lint
        name: Nox Lint (Backend)
        entry: nox -r -s lint
        language: system
        types: [python]
        pass_filenames: false
    -   id: nox-typecheck
        name: Nox Typecheck (Backend)
        entry: nox -r -s typecheck
        language: system
        types: [python]
        pass_filenames: false
    -   id: nox-format-frontend
        name: Nox Format (Frontend)
        entry: nox -r -s format_frontend
        language: system
        files: ^jobmon_gui/src/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false
    -   id: nox-lint-frontend
        name: Nox Lint (Frontend)
        entry: nox -r -s lint_frontend
        language: system
        files: ^jobmon_gui/src/.*\.(ts|tsx)$
        pass_filenames: false
    -   id: nox-typecheck-frontend
        name: Nox Typecheck (Frontend)
        entry: nox -r -s typecheck_frontend
        language: system
        files: ^jobmon_gui/src/.*\.(ts|tsx)$
        pass_filenames: false

Precisely time OTLP shutdown/reinit around fork
  jobmon_core/src/jobmon/worker_node/worker_node_task_instance.py
Due: nox-format, nox-lint, nox-typecheck

Add HTTP OTLP transport support alongside gRPC
  docker_config/jobmonconfig.example.yaml
  docker_config/logconfig.example.yaml
  docker_config/logconfig.otlp.example.yaml
  docsource/configuration.rst
  docsource/examples/component_logging_examples.yaml
  docsource/examples/distributor_logging_examples.yaml
  jobmon_client/src/jobmon/client/config/logconfig_client.yaml
  jobmon_core/src/jobmon/core/config/formatters.py
  jobmon_core/src/jobmon/core/config/logconfig_utils.py
  jobmon_core/src/jobmon/core/config/templates/formatters.yaml
  jobmon_core/src/jobmon/core/config/templates/handlers.yaml
  jobmon_core/src/jobmon/core/otlp/manager.py
  jobmon_core/src/jobmon/distributor/config/logconfig_distributor.yaml
  jobmon_core/src/jobmon/worker_node/config/logconfig_worker.yaml
  jobmon_server/src/jobmon/server/web/config/logconfig_server.yaml
  tests/pytest/core/test_template_loader.py
  tests/pytest/server/conftest.py
  tests/pytest/server/test_server_otlp.py
Due: nox-format, nox-lint, nox-typecheck

docs: move logging docs into sphinx
  docsource/index.rst
  docsource/logging/architecture.rst
  docsource/logging/guide.rst
  docsource/logging/index.rst
Due: none

pin otel
  docsource/logging/architecture.rst
  jobmon_core/pyproject.toml
  jobmon_core/src/jobmon/core/config/structlog_config.py
  jobmon_core/src/jobmon/core/otlp/manager.py
  tests/pytest/core/test_jobmon_context.py
  uv.lock
Due: nox-format, nox-lint, nox-typecheck

remove handlers if host is using printloggerfactory
  jobmon_client/src/jobmon/client/logging.py
Due: nox-format, nox-lint, nox-typecheck

fix for direct rendering
  docsource/logging/architecture.rst
  docsource/logging/guide.rst
  jobmon_client/src/jobmon/client/logging.py
  jobmon_core/src/jobmon/core/config/structlog_config.py
  tests/pytest/client/test_client_logging.py
Due: nox-format, nox-lint, nox-typecheck

add debug
  docsource/logging/client_telemetry_status.rst
  jobmon_client/src/jobmon/client/logging.py
  jobmon_core/src/jobmon/core/config/structlog_config.py
  tests/pytest/client/test_client_logging.py
  tests/pytest/core/test_structlog_detection.py
Due: nox-format, nox-lint, nox-typecheck

Fix structlog test logconfig path
  docsource/logging/architecture.rst
  docsource/logging/client_telemetry_status.rst
  docsource/logging/guide.rst
  jobmon_client/src/jobmon/client/logging.py
  jobmon_client/src/jobmon/client/swarm/workflow_run.py
  jobmon_core/src/jobmon/core/cli.py
  jobmon_core/src/jobmon/core/config/logconfig_utils.py
  jobmon_core/src/jobmon/core/config/structlog_config.py
  jobmon_core/src/jobmon/core/logging/__init__.py
  jobmon_core/src/jobmon/core/logging/context.py
  jobmon_core/src/jobmon/core/otlp/__init__.py
  jobmon_core/src/jobmon/core/otlp/formatters.py
  jobmon_core/src/jobmon/core/otlp/handlers.py
  jobmon_core/src/jobmon/core/otlp/manager.py
  jobmon_server/src/jobmon/server/web/api.py
  tests/pytest/client/test_client_logging.py
  tests/pytest/core/test_jobmon_context.py
  tests/pytest/core/test_otlp.py
  tests/pytest/core/test_structlog_detection.py
  tests/pytest/integration/test_distributor_logging_integration.py
  tests/pytest/integration/test_worker_logging_integration.py
  tests/pytest/swarm/test_swarm.py
  tests/workflows/six_job_structlog_test.py
Due: nox-format, nox-lint, nox-typecheck

Refine logging telemetry helpers
  docsource/logging/architecture.rst
  docsource/logging/guide.rst
  jobmon_core/src/jobmon/core/config/structlog_config.py
  jobmon_core/src/jobmon/core/logging/__init__.py
  jobmon_core/src/jobmon/core/logging/context.py
  jobmon_core/src/jobmon/core/otlp/__init__.py
  jobmon_core/src/jobmon/core/otlp/manager.py
  jobmon_core/src/jobmon/core/structlog_utils.py
  tests/pytest/core/test_jobmon_context.py
  tests/pytest/core/test_structlog_detection.py
Due: nox-format, nox-lint, nox-typecheck

remove extra stuff
  jobmon_client/src/jobmon/client/swarm/workflow_run.py
  jobmon_core/src/jobmon/core/config/structlog_config.py
  tests/pytest/client/test_client_logging.py
Due: nox-format, nox-lint, nox-typecheck

bugfix
  jobmon_core/src/jobmon/core/config/structlog_config.py
Due: nox-format, nox-lint, nox-typecheck

Improve structlog filtering detection
  jobmon_core/src/jobmon/core/config/structlog_config.py
Due: nox-format, nox-lint, nox-typecheck

update changelog
  CHANGELOG.md
Due: none

guarantee the fail-after test hook fires even when all tasks finish within a single loop iteration
  jobmon_client/src/jobmon/client/swarm/workflow_run.py
Due: nox-format, nox-lint, nox-typecheck

try new fix
  jobmon_client/src/jobmon/client/swarm/workflow_run.py
Due: nox-format, nox-lint, nox-typecheck

fix test
  CHANGELOG.md
  jobmon_client/src/jobmon/client/swarm/workflow_run.py
  tests/pytest/end_to_end/test_workflow_resume.py
Due: nox-format, nox-lint, nox-typecheck

Refactor: Simplify structlog context binding and add telemetry prefix tests
  jobmon_core/src/jobmon/core/structlog_utils.py
  tests/pytest/core/test_jobmon_context.py
Due: nox-format, nox-lint, nox-typecheck

Add 'all' as an option to GUI workflow status drop down
  jobmon_gui/src/components/workflow_overview/WorkflowFilters.tsx
Due: nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Add search parameters back to url
  jobmon_gui/src/components/workflow_overview/WorkflowFilters.tsx
  jobmon_gui/src/stores/workflow_settings.ts
  jobmon_gui/src/utils/workflowSearchParams.ts
Due: nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Have date filters in the jobmon gui default to one day instead of two weeks
  jobmon_gui/src/components/workflow_overview/WorkflowFilters.tsx
  jobmon_gui/src/stores/workflow_settings.ts
Due: nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Allow users to filter by multiple users, statuses, and tools. Allow negation filtering for the same fields
  jobmon_gui/src/components/workflow_overview/WorkflowFilters.tsx
  jobmon_gui/src/components/workflow_overview/WorkflowList.tsx
  jobmon_gui/src/stores/workflow_settings.ts
  jobmon_gui/src/utils/workflowSearchParams.ts
  jobmon_server/src/jobmon/server/web/repositories/workflow_repository.py
Due: nox-format, nox-lint, nox-typecheck, nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Change order of statues in workflow pop up
  jobmon_gui/src/components/TaskTemplatePopover.tsx
Due: nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Change command value to a modal instead of default copy
  jobmon_gui/src/components/task_template_details/TaskTable.tsx
Due: nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Make the ux more cohesive
  jobmon_gui/src/components/task_details/TaskInstanceTable.tsx
Due: nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Fix 404 error on resource usage
  jobmon_server/src/jobmon/server/web/api.py
  jobmon_server/src/jobmon/server/web/routes/v3/__init__.py
Due: nox-format, nox-lint, nox-typecheck

Add additional task information to resource usage csv
  jobmon_gui/src/components/task_template_details/usage/Usage.tsx
  jobmon_server/src/jobmon/server/web/repositories/task_template_repository.py
  jobmon_server/src/jobmon/server/web/routes/v3/cli/task_template.py
  jobmon_server/src/jobmon/server/web/schemas/task_template.py
Due: nox-format, nox-lint, nox-typecheck, nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Have url filters still work when users click home button
  jobmon_gui/src/components/common/AppBreadcrumbs.tsx
  jobmon_gui/src/screens/TaskDetails.tsx
  jobmon_gui/src/screens/TaskTemplateDetails.tsx
  jobmon_gui/src/screens/WorkflowDetails.tsx
  jobmon_gui/src/screens/WorkflowOverview.tsx
  jobmon_gui/src/utils/workflowFilterPersistence.ts
Due: nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Show a red x next to a task template name if any task in the template failed
  jobmon_gui/src/screens/WorkflowDetails.tsx
Due: nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Fix linting
  jobmon_server/src/jobmon/server/web/repositories/workflow_repository.py
  jobmon_server/src/jobmon/server/web/routes/v3/__init__.py
Due: nox-format, nox-lint, nox-typecheck

Fix typechecking error
  jobmon_server/src/jobmon/server/web/repositories/workflow_repository.py
Due: nox-format, nox-lint, nox-typecheck

Fix frontend type errors
  jobmon_gui/src/types/apiSchema.ts
Due: nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Fix build
  jobmon_gui/eslint.config.js
  jobmon_gui/package.json
Due: none

Fix build
  jobmon_gui/src/components/workflow_details/WorkflowHeader.tsx
  jobmon_gui/src/queries/GetTaskTemplateDetails.ts
  jobmon_gui/src/screens/TaskTemplateDetails.tsx
Due: nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Fix bug in URL negation logic
  jobmon_gui/src/components/workflow_overview/WorkflowFilters.tsx
  jobmon_gui/src/utils/workflowFilterPersistence.ts
  jobmon_gui/src/utils/workflowSearchParams.ts
  jobmon_server/src/jobmon/server/web/repositories/workflow_repository.py
  jobmon_server/src/jobmon/server/web/routes/v3/cli/workflow.py
Due: nox-format, nox-lint, nox-typecheck, nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Fix bug in URL negation logic
  jobmon_server/src/jobmon/server/web/repositories/workflow_repository.py
Due: nox-format, nox-lint, nox-typecheck

feat: async workflow-run scheduler with dedicated heartbeat loop
  docs/design/async_workflow_run.md
  jobmon_client/src/jobmon/client/swarm/workflow_run.py
  jobmon_core/src/jobmon/core/structlog_utils.py
  tests/pytest/swarm/test_swarm.py
Due: nox-format, nox-lint, nox-typecheck

chore: remove design doc (implementation complete)
  docs/design/async_workflow_run.md
Due: none

feat: parallelize async state sync and fix multiprocess distributor
  jobmon_client/src/jobmon/client/swarm/workflow_run.py
  jobmon_core/src/jobmon/core/configuration.py
  jobmon_core/src/jobmon/plugins/multiprocess/multiproc_distributor.py
  tests/pytest/distributor/test_instantiate.py
  tests/pytest/distributor/test_triaging.py
  tests/pytest/end_to_end/test_workflow_resume.py
  tests/pytest/swarm/test_swarm.py
  tests/workflows/six_job_structlog_test.py
Due: nox-format, nox-lint, nox-typecheck
