Repository ihmeuw-scicomp/jobmon: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-format, nox-lint, nox-typecheck, nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

nox-format:
  name: Nox Format (Backend)
  entry: env -u FORCE_COLOR nox -r -s format --nocolor
  language: system
  pass_filenames: false

nox-lint:
  name: Nox Lint (Backend)
  entry: env -u FORCE_COLOR nox -r -s lint --nocolor
  language: system
  pass_filenames: false

nox-typecheck:
  name: Nox Typecheck (Backend)
  entry: env -u FORCE_COLOR nox -r -s typecheck --nocolor
  language: system
  pass_filenames: false

nox-format-frontend:
  name: Nox Format (Frontend)
  entry: env -u FORCE_COLOR nox -r -s format_frontend --nocolor
  language: system
  pass_filenames: false

nox-lint-frontend:
  name: Nox Lint (Frontend)
  entry: env -u FORCE_COLOR nox -r -s lint_frontend --nocolor
  language: system
  pass_filenames: false

nox-typecheck-frontend:
  name: Nox Typecheck (Frontend)
  entry: env -u FORCE_COLOR nox -r -s typecheck_frontend --nocolor
  language: system
  pass_filenames: false

Add workflow context binding for OTLP logging and remove unused Dockerfile
  Dockerfile.server.dev
  jobmon_client/src/jobmon/client/swarm/run.py
Due: nox-format, nox-lint, nox-typecheck

Fix DEBUG logs leaking to OTLP in direct-render mode
  CHANGELOG.md
  jobmon_core/src/jobmon/core/config/structlog_config.py
Due: nox-format, nox-lint, nox-typecheck

Upgrade opentelemetry-sdk to 1.39.1
  jobmon_core/pyproject.toml
  jobmon_core/src/jobmon/core/otlp/handlers.py
  jobmon_server/pyproject.toml
  uv.lock
Due: nox-format, nox-lint, nox-typecheck

fix: Restore DBAPI query instrumentation lost when DNS engine was removed
  jobmon_server/src/jobmon/server/web/otlp/manager.py
  tests/unit/logging/test_server_otlp.py
Due: nox-format, nox-lint, nox-typecheck

fix: Use EngineTracer directly for SQLAlchemy query instrumentation
  jobmon_server/src/jobmon/server/web/db/engine.py
  jobmon_server/src/jobmon/server/web/otlp/manager.py
  tests/unit/logging/test_server_otlp.py
Due: nox-format, nox-lint, nox-typecheck

fix early log pollution
  jobmon_client/src/jobmon/client/tool.py
Due: nox-format, nox-lint, nox-typecheck

Update .readthedocs.yaml
  .readthedocs.yaml
Due: none

fix: Improve workflow resume cleanup and fix NO_HEARTBEAT loop
  jobmon_client/src/jobmon/client/cli/workflow/resume.py
  jobmon_client/src/jobmon/client/commands/workflow.py
  jobmon_client/src/jobmon/client/workflow_run.py
  jobmon_server/src/jobmon/server/web/routes/v3/fsm/array.py
  jobmon_server/src/jobmon/server/web/routes/v3/fsm/task_instance.py
  jobmon_server/src/jobmon/server/web/routes/v3/fsm/workflow.py
  jobmon_server/src/jobmon/server/web/routes/v3/fsm/workflow_run.py
  jobmon_server/src/jobmon/server/web/routes/v3/reaper/reaper.py
  tests/integration/client/test_resume_kill_self.py
Due: nox-format, nox-lint, nox-typecheck

docs: Update CHANGELOG for workflow resume fixes
  CHANGELOG.md
Due: none

remove pytest.ini
  pyproject.toml
  pytest.ini
Due: none

fix: Force cleanup triggers immediately instead of waiting for timeout
  jobmon_client/src/jobmon/client/workflow_run.py
Due: nox-format, nox-lint, nox-typecheck

fix: Force cleanup endpoint now finalizes workflow run immediately
  jobmon_client/src/jobmon/client/workflow_run.py
  jobmon_server/src/jobmon/server/web/routes/v3/fsm/workflow.py
Due: nox-format, nox-lint, nox-typecheck

Remove log per user request
  jobmon_client/src/jobmon/client/dag.py
Due: nox-format, nox-lint, nox-typecheck

feat: Add Task Status Audit for task lifecycle tracking
  jobmon_server/src/jobmon/server/web/migrations/versions/2025_01_28_1200-a1b2c3d4e5f6_add_task_status_audit.py
  jobmon_server/src/jobmon/server/web/models/task_status_audit.py
  jobmon_server/src/jobmon/server/web/repositories/workflow_repository.py
  jobmon_server/src/jobmon/server/web/routes/v3/cli/__init__.py
  jobmon_server/src/jobmon/server/web/routes/v3/cli/task_concurrency.py
  jobmon_server/src/jobmon/server/web/routes/v3/fsm/array.py
  jobmon_server/src/jobmon/server/web/routes/v3/fsm/task.py
  jobmon_server/src/jobmon/server/web/routes/v3/fsm/task_instance.py
  jobmon_server/src/jobmon/server/web/services/__init__.py
  jobmon_server/src/jobmon/server/web/services/task_fsm.py
  jobmon_server/src/jobmon/server/web/services/transition_service.py
  tests/integration/server/test_skip_locked.py
  tests/integration/server/test_transition_service.py
  tests/unit/logging/test_otlp.py
  tests/unit/server/test_task_fsm.py
Due: nox-format, nox-lint, nox-typecheck

feat: Add TaskConcurrencyTab with interactive concurrency visualization
  jobmon_gui/src/components/workflow_details/TaskConcurrencyTab.tsx
  jobmon_gui/src/configs/ApiUrls.ts
  jobmon_gui/src/queries/GetTaskConcurrency.ts
  jobmon_gui/src/screens/WorkflowDetails.tsx
  jobmon_gui/src/types/apiSchema.ts
  jobmon_gui/src/utils/workflowFilterPersistence.ts
  jobmon_gui/src/utils/workflowSearchParams.ts
  jobmon_server/src/jobmon/server/web/models/task_status_audit.py
  jobmon_server/src/jobmon/server/web/repositories/workflow_repository.py
  jobmon_server/src/jobmon/server/web/routes/v3/cli/task_concurrency.py
  jobmon_server/src/jobmon/server/web/routes/v3/fsm/task.py
  jobmon_server/src/jobmon/server/web/routes/v3/fsm/task_instance.py
  jobmon_server/src/jobmon/server/web/schemas/task_concurrency.py
  jobmon_server/src/jobmon/server/web/services/transition_service.py
  tests/integration/server/test_transition_service.py
Due: nox-format, nox-lint, nox-typecheck, nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Change actions of workflow visualization DAG
  CHANGELOG.md
  jobmon_gui/src/components/workflow_details/WorkflowDAG.tsx
Due: nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Change node size based on number of tasks associated with template
  CHANGELOG.md
  jobmon_gui/src/components/workflow_details/WorkflowDAG.tsx
Due: nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

fix: Prevent data loss during task instance state transitions
  jobmon_gui/src/configs/ApiUrls.ts
  jobmon_server/src/jobmon/server/web/routes/v3/cli/task_concurrency.py
  jobmon_server/src/jobmon/server/web/routes/v3/fsm/task_instance.py
Due: nox-format, nox-lint, nox-typecheck, nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Allow download of pdf readthedocs
  .readthedocs.yaml
Due: none

feat: Add ERROR/DONE tracking and improve concurrency visualization
  jobmon_gui/src/components/workflow_details/TaskConcurrencyTab.tsx
  jobmon_gui/src/types/apiSchema.ts
  jobmon_server/src/jobmon/server/web/routes/v3/cli/task_concurrency.py
  jobmon_server/src/jobmon/server/web/services/transition_service.py
Due: nox-format, nox-lint, nox-typecheck, nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

refactor: Replace multiprocessing queues with ThreadPoolExecutor
  jobmon_core/src/jobmon/plugins/multiprocess/multiproc_distributor.py
  tests/unit/core/test_multiprocess_distributor.py
Due: nox-format, nox-lint, nox-typecheck

feat: Redesign workflow details page with DAG status visualization
  jobmon_gui/src/components/common/TemplateStatusBar.tsx
  jobmon_gui/src/components/navigation/PageNavigation.tsx
  jobmon_gui/src/components/workflow_details/TaskConcurrencyTab.tsx
  jobmon_gui/src/components/workflow_details/TemplateDetailPanel.tsx
  jobmon_gui/src/components/workflow_details/WorkflowDAG.tsx
  jobmon_gui/src/components/workflow_details/WorkflowHeader.tsx
  jobmon_gui/src/components/workflow_details/WorkflowManagePanel.tsx
  jobmon_gui/src/components/workflow_details/WorkflowSummaryPanel.tsx
  jobmon_gui/src/constants/taskStatus.ts
  jobmon_gui/src/contexts/CustomThemeProvider.tsx
  jobmon_gui/src/screens/WorkflowDetails.tsx
Due: nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

fix: Improve sequential and dummy distributors for protocol compliance
  jobmon_core/src/jobmon/plugins/dummy/dummy_distributor.py
  jobmon_core/src/jobmon/plugins/sequential/seq_distributor.py
  tests/unit/core/test_sequential_distributor.py
Due: nox-format, nox-lint, nox-typecheck

fix: Improve sequential and dummy distributors for protocol compliance
  jobmon_core/src/jobmon/plugins/dummy/dummy_distributor.py
  tests/plugins/test_sequential_distributor.py
Due: nox-format, nox-lint, nox-typecheck

feat: Add audit logging to task status updates and bind_tasks_no_args
  jobmon_server/src/jobmon/server/web/repositories/task_repository.py
  jobmon_server/src/jobmon/server/web/routes/v3/fsm/task.py
Due: nox-format, nox-lint, nox-typecheck

feat: Wire get_usage_stats() to persist task instance resource usage
  jobmon_core/src/jobmon/plugins/multiprocess/multiproc_distributor.py
  jobmon_core/src/jobmon/plugins/sequential/seq_distributor.py
  jobmon_core/src/jobmon/worker_node/worker_node_task_instance.py
  jobmon_gui/src/components/workflow_details/TemplateDetailPanel.tsx
  jobmon_server/src/jobmon/server/web/routes/v3/fsm/task_instance.py
  tests/plugins/test_sequential_distributor.py
  tests/unit/core/test_multiprocess_distributor.py
Due: nox-format, nox-lint, nox-typecheck, nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

feat: Consolidate task template details into dashboard layout
  .claude/README.md
  .claude/rules/backend.md
  .claude/rules/environment.md
  .claude/rules/frontend.md
  .claude/rules/git.md
  .claude/rules/state-machines.md
  .claude/rules/testing.md
  .claude/rules/tooling.md
  CLAUDE.md
  dev/workflows/six_job_test.py
  jobmon_gui/package-lock.json
  jobmon_gui/package.json
  jobmon_gui/src/components/navigation/PageNavigation.tsx
  jobmon_gui/src/components/task_template_details/TaskTable.tsx
  jobmon_gui/src/components/task_template_details/usage/ErrorSummaryCard.tsx
  jobmon_gui/src/components/task_template_details/usage/RuntimeMemoryScatterPlot.tsx
  jobmon_gui/src/components/task_template_details/usage/Usage.tsx
  jobmon_gui/src/components/task_template_details/usage/UsageFilters.tsx
  jobmon_gui/src/components/task_template_details/usage/UsageKPICards.tsx
  jobmon_gui/src/components/task_template_details/usage/UsagePlotSection.tsx
  jobmon_gui/src/components/workflow_details/TaskConcurrencyTab.tsx
  jobmon_gui/src/screens/TaskTemplateDetails.tsx
  jobmon_gui/src/stores/TaskTable.ts
  jobmon_gui/src/types/TaskTable.ts
  jobmon_server/src/jobmon/server/web/routes/v3/cli/task_concurrency.py
Due: nox-format, nox-lint, nox-typecheck, nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

feat: Refactor dashboard components, error drawer, and usage stats wiring
  dev/workflows/dashboard_test.py
  jobmon_core/src/jobmon/core/cluster_protocol.py
  jobmon_core/src/jobmon/plugins/multiprocess/multiproc_distributor.py
  jobmon_core/src/jobmon/plugins/sequential/seq_distributor.py
  jobmon_core/src/jobmon/worker_node/worker_node_task_instance.py
  jobmon_gui/src/components/task_template_details/ClusteredErrors.tsx
  jobmon_gui/src/components/task_template_details/TaskTable.tsx
  jobmon_gui/src/components/task_template_details/usage/ErrorClustersCard.tsx
  jobmon_gui/src/components/task_template_details/usage/ErrorSummaryCard.tsx
  jobmon_gui/src/components/task_template_details/usage/RuntimeMemoryScatterPlot.tsx
  jobmon_gui/src/components/task_template_details/usage/UsageFilters.tsx
  jobmon_gui/src/components/task_template_details/usage/UsageKPICards.tsx
  jobmon_gui/src/components/task_template_details/usage/UsagePlotSection.tsx
  jobmon_gui/src/hooks/useUsageData.ts
  jobmon_gui/src/hooks/useUsageFilters.ts
  jobmon_gui/src/queries/GetWorkflowTasks.ts
  jobmon_gui/src/screens/TaskTemplateDetails.tsx
  jobmon_gui/src/screens/WorkflowDetails.tsx
  jobmon_gui/src/stores/TaskTable.ts
  jobmon_gui/src/types/ClusteredErrors.ts
  jobmon_gui/src/types/TaskTable.ts
  jobmon_gui/src/types/Usage.ts
  jobmon_gui/src/types/apiSchema.ts
  jobmon_server/src/jobmon/server/web/repositories/task_template_repository.py
  jobmon_server/src/jobmon/server/web/routes/v3/cli/task_template.py
  jobmon_server/src/jobmon/server/web/routes/v3/fsm/task_instance.py
  jobmon_server/src/jobmon/server/web/schemas/task_template.py
  tests/plugins/test_sequential_distributor.py
  tests/unit/core/test_multiprocess_distributor.py
Due: nox-format, nox-lint, nox-typecheck, nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

docs: Restore CHANGELOG.md and add dashboard consolidation entries
  CHANGELOG.md
Due: none

refactor: Clean up dead code, deduplicate, and extract CSV utility
  jobmon_gui/src/components/task_template_details/usage/ErrorClustersCard.tsx
  jobmon_gui/src/hooks/useUsageData.ts
  jobmon_gui/src/queries/GetTaskDetails.ts
  jobmon_gui/src/screens/TaskTemplateDetails.tsx
  jobmon_gui/src/types/ClusteredErrors.ts
  jobmon_gui/src/types/Usage.ts
  jobmon_gui/src/utils/csvExport.ts
Due: nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

feat: Redesign task template info panel action architecture
  jobmon_gui/src/components/workflow_details/TemplateDetailPanel.tsx
  jobmon_gui/src/components/workflow_details/WorkflowManagePanel.tsx
  jobmon_gui/src/components/workflow_details/WorkflowSummaryPanel.tsx
  jobmon_gui/src/screens/WorkflowDetails.tsx
Due: nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

feat: Merge task instance table into expandable timeline and eliminate Any types
  jobmon_gui/src/components/task_details/ResourceComparisonBar.tsx
  jobmon_gui/src/components/task_details/TaskDAG.tsx
  jobmon_gui/src/components/task_details/TaskInstanceTable.tsx
  jobmon_gui/src/components/task_details/TaskStatusTimeline.tsx
  jobmon_gui/src/components/task_details/TaskSummaryCard.tsx
  jobmon_gui/src/components/task_template_details/TaskTable.tsx
  jobmon_gui/src/components/task_template_details/usage/ErrorClustersCard.tsx
  jobmon_gui/src/components/workflow_details/WorkflowManagePanel.tsx
  jobmon_gui/src/constants/taskStatus.ts
  jobmon_gui/src/queries/GetTaskInstanceDetails.ts
  jobmon_gui/src/queries/GetTaskStatusAudit.ts
  jobmon_gui/src/screens/TaskDetails.tsx
  jobmon_gui/src/screens/TaskTemplateDetails.tsx
  jobmon_gui/src/stores/TaskInstanceTable.ts
  jobmon_gui/src/stores/TaskTable.ts
  jobmon_gui/src/types/TaskDetails.ts
  jobmon_gui/src/types/TaskInstance.ts
  jobmon_gui/src/types/apiSchema.ts
  jobmon_gui/src/utils/csvExport.ts
  jobmon_server/src/jobmon/server/web/repositories/task_repository.py
  jobmon_server/src/jobmon/server/web/schemas/task.py
  jobmon_server/src/jobmon/server/web/schemas/task_template.py
  jobmon_server/src/jobmon/server/web/schemas/workflow.py
Due: nox-format, nox-lint, nox-typecheck, nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

chore: Add .playwright-mcp to gitignore and update claude rules
  .claude/rules/environment.md
  .claude/rules/frontend.md
  .claude/rules/git.md
  .claude/rules/testing.md
  .claude/rules/tooling.md
  .gitignore
Due: none

Fix error cluster isActive and toggle-off when instances lack scatter data
  jobmon_gui/src/components/task_template_details/usage/ErrorClustersCard.tsx
  jobmon_gui/src/screens/TaskTemplateDetails.tsx
Due: nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

fix: WCAG-compliant status chip text, null-safe timeline dates, and attempt-instance alignment
  jobmon_gui/src/components/task_details/TaskDAG.tsx
  jobmon_gui/src/components/task_details/TaskStatusTimeline.tsx
  jobmon_gui/src/components/task_details/TaskSummaryCard.tsx
  jobmon_gui/src/components/workflow_details/WorkflowManagePanel.tsx
  jobmon_gui/src/constants/taskStatus.ts
Due: nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

fix: reuse shared resource parsing and standardize status text contrast
  .claude/rules/tooling.md
  jobmon_gui/src/components/task_details/TaskDAG.tsx
  jobmon_gui/src/components/task_details/TaskStatusTimeline.tsx
Due: nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

feat: Add template execution timeline with event-driven stacked area charts
  jobmon_gui/src/components/workflow_details/TaskConcurrencyTab.tsx
  jobmon_gui/src/components/workflow_details/TemplateTimelineTab.tsx
  jobmon_gui/src/queries/GetTaskConcurrency.ts
  jobmon_gui/src/screens/WorkflowDetails.tsx
  jobmon_gui/src/types/apiSchema.ts
  jobmon_server/src/jobmon/server/web/routes/v3/cli/task_concurrency.py
  jobmon_server/src/jobmon/server/web/schemas/task_concurrency.py
Due: nox-format, nox-lint, nox-typecheck, nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

chore: Ignore png screenshots in gitignore
  .gitignore
Due: none

fix: preserve active attempt status in timeline outcome
  jobmon_gui/src/components/task_details/TaskStatusTimeline.tsx
Due: nox-format-frontend, nox-lint-frontend, nox-typecheck-frontend

Path conditions:
  nox-format: any of: \.py$
  nox-lint: any of: \.py$
  nox-typecheck: any of: \.py$
  nox-format-frontend: any of: ^jobmon_gui/src/.*\.(ts|tsx|js|jsx|json|css|md)$
  nox-lint-frontend: any of: ^jobmon_gui/src/.*\.(ts|tsx)$
  nox-typecheck-frontend: any of: ^jobmon_gui/src/.*\.(ts|tsx)$
